# Arquivo para configuração da ordenação de livros
# Primeira configuração: Atributos preferenciais ordenados em uma lista, ex:
# ['title']
# ['author','title']
# ['year','author','title']
# Segunda configuração: Lista para reverter ordenação do respectivo atributo (True=inverte), ex:
# [False]
# [False,True]
# [True,True,False]

1,years,True
2,author,True
3,title,False
4, 



