# Arquivo para configuração da ordenação de livros
#Prioridade,Atributo,asc/desc
# Exemplo:
#1,title,desc
# lista de atributos: title,author,year

# Caso 1:
1,title,asc

# Caso 2:
#1,author,asc
#2,title,desc

# Caso 3:
#1,year,desc
#2,author,desc
#3,title,asc

# Caso 4:
#1,NULL

# Caso 5:






